// TYPOGRAPHY ================================================
$base-font: 'source-sans-pro', sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: 'source-code-pro', monospace;
$alt-font: 'volkhov', serif;

$doc-font-size: 16;
$doc-line-height: 24;

$border-radius: 3px;

// set-up the body font-size / line-height
body {
  background-image: url(http://emufest.github.io//images/_bg/snow.png);
  background-repeat: repeat;
  margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;  
  
}
  
//  background:
//  radial-gradient(circle, transparent 30%, $body-color 30%, $body-color 90%, transparent 90%, transparent),
//  radial-gradient(circle, transparent 30%, $body-color 30%, $body-color 90%, transparent 90%, transparent) 50px 50px,
//  linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
//  linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
//  background-color: $body-color;
//  background-size:10px 10px, 100px 100px, 50px 50px, 50px 50px;
  
  
// COLORS =====================================================
$supercolor         : #032724;
$ombreduble         : #adb7b6;

$body-color         : #eaeaea;
$text-color         : $supercolor;
$base-color         : #343434;
$comp-color         : spin($base-color, 90); 
$border-color       : $ombreduble; // ddd
$white              : #eaeaea;
$black              : $supercolor;
$accent-color       : $black;
$link-color         : $supercolor;

$table-border-color           : $border-color;
$table-border                 : 1px solid $table-border-color;
$table-background             : $body-color;
$table-header-color           : lighten($table-background, 10);
$table-hover-color            : darken($table-background, 2);
$table-stripe-color           : darken($table-background, 4);
$table-stripe-color-hover     : darken($table-stripe-color, 5);

// MEDIA QUERIES ==============================================
$micro            : "only screen and (min-width: 30em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";

